conf_name: conf1
run_name: run1 # Variable per run of the same config
algo:
  _target_: rlkit.runners.ppo.PPORunner

# 1. Environment
defaults:
  - env: gridworld
  - info
  - _self_

env:
  params:
    time_scale: 10
    graphics: True # Need graphics for visual observations

# 2. Agent
agent:
  builder: rlkit.runners.ppo.PPOAgentBuilder
  trunk_net:
    _target_: rlkit.models.ConditionalCNN
    in_channels: ${env.observation.visual_observation.channels}
    time_dim: ${env.observation.indicator.dim}
    depths: [1, 1]
    dims: [16, 32]
    out_dim: 32
  policy_net:
    _target_: rlkit.models.MLP
    in_features: ${trunk_net.out_dim}
    out_features: ${env.action.dim}
    n_blocks: 1
    hidden_dim: 32
  value_net:
    _target_: rlkit.models.MLP
    in_features: ${trunk_net.out_dim}
    out_features: 1
    n_blocks: 1
    hidden_dim: 32

# 3. Loss
loss:
  _target_: rlkit.runners.ppo.loss.PPOLossBuilder
  loss_fn: rlkit.runners.
  params:
    epsilon: 0.2
    entropy_coef: 1e-2
    gamma: 0.99
    inverse_coef: 1.0
    inverse_loss_fn: "cross_entropy"

# 4. Trainer
trainer:
  _target_: rlkit.runners.ppo.PPOTrainerBuilder
  params:
    generations: 100
    generation_size: 9000
    slice_len: 128
    n_slices: 1024
    epochs: 5
    minibatch_size: 256

    workers: 10
    env_batch_dim: ${env.info.batch_dims}

    kl_soft_clip: 0.02
    early_stop_threshold: 32
    kl_hard_clip: 0.05

    trunk: true

# 5. State
state:
  _target_: rlkit.runners.ppo.PPOStateBuilder
  optimizer:
    _target_: torch.optim.Adam
    params:
      lr: ${lr_scheduler.initial_lr}

  logger:
    _target_: rlkit.utils.HFTBLogger
    log_dir: ${dir}/logs/${run_name}
    repo_id: ${repo_id}
    repo_subfolder: ${dir}/logs/${run_name}

  checkpointer:
    _target_: rlkit.utils.HFCheckpointer
    ckpt_path: ${dir}/ckpts
    name: ${run_name}
    repo_id: ${repo_id}

  lr_scheduler:
    _target_: rlkit.utils.CosineWithLinearWarmupSchedule
    warmup_epochs: 5
    initial_lr: 1e-7
    max_lr: 1e-4

# Change working directory
dir: experiments/${env.name}/${algo.name}/${conf_name}
hydra:
  output_subdir: config
  run:
    dir: ${dir}
model_path: ${dir}/models/${run_name}.pt
results_path: ${dir}/results/${run_name}.png
